*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box
}
body{
    background-color: pink;
}
.card{
   width: 700px;
   background-color: white;
   margin: 20px;
   padding: 20px;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: red;
    min-height: 40px; 
}