*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: pink;
}
.wrapped{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loader{
    min-width: 80vw;
    min-height: 80vh;
    background-color: rgb(182, 37, 37);
    border-radius: 20px;
}
.wrapped .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 0 20px;
}

.loader .loading{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 150%;
    will-change: transform;
    animation: load 0.9s ease infinite;
}
.loader .loading.one{
    animation-delay: 0.5s;
}
.loader .loading.two{
    animation-delay: 0.6s;
}
.loader .loading.three{
    animation-delay: 0.7s;
}
@keyframes load {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
