*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    width: 300px;
    height: 100px;
    text-decoration: none;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    perspective: 1000px;
}

.btn::before{
    content: "BUTTON";
    position: absolute;
    width: 100%;
    height: 100%;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateX(90deg);
    transform-origin: top;
    transition: 0.5s;
    backface-visibility: hidden;
}

.btn::after{
    content: "BUTTON";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(14,231,14);
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateX(90deg);
    transform-origin: top;
    transition: 0.5s;
    transition-delay: 0.25s;
    backface-visibility: hidden;
}

.btn:hover::before,
.btn:hover::after{
    transform: rotateX(0deg);
}
