body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
}
.container{
    width: 40rem;
    height: 40rem;
    position: relative;
    overflow: hidden;
}
.container img{
    width: 100%;
    transition: all 1s;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    transition: all 1s;
    background: rgb(23, 23, 23);
    transform: translateY(100%);
}
.container:hover .content {
  transform: translateY(75%);
}
.container:hover img {
  transform: translateY(-25%);
}