*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainpart{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content h1{
    font-size: 8rem;
    transition: 0.5s;
}

.content h1:hover{
    color: transparent;
    -webkit-text-stroke: white 1.2px;
}

.content a{
    margin-top: 20px;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-size: 2rem;
}

.content a:hover{
    background-color: white;
    color: black;
}