
body{
    height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.card-container{
    position: relative;
    width:320px;
    padding: 40px;
    background: white;
    overflow: hidden;
}
.card-container:before{
    content: "";
    position: absolute;
    left:0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    z-index: 1;
    transition: 1s;
}
.card-container:hover:before{
    bottom: 0;
}
.content{
    position: relative;
    color:  black;
    z-index: 2;
    transition: 1s;
}
h2{
    font-size: 30px;
}
p{
    line-height: 25px;
    padding: 20px 0;
    margin: 20px 0;
}
a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    background: black;
    padding: 0.6rem 1rem;
}
.card-container:hover .content{
    color: white;
}
