*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#emoji{
    font-size: 10rem;
    filter: grayscale(1);
    transition-property: transform, filter;
    transition-duration: 200ms;
    cursor: pointer;
}
#emoji:hover{
    transform: scale(1.5);
    filter: grayscale(0);
}