body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
}
.main{
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
    border-radius: 30px;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input{
    display: flex;
    flex-direction: column;
}
h1{
    margin-bottom: 4rem;
    font-size: 4rem;
}
.inputs input {
  border: none;
  border-radius: 5px;
  padding: 1rem 8rem;
  outline: none;
  margin-bottom: 10px;
}
#selectOp {
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
}

#btn {
  border: none;
  background: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  margin-top: 30px;
  cursor: pointer;
}