*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    gap: 100px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 10px;
    position: relative;
}
ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 2px;
    background: white;
    transform: scale(0,0);
    transform-origin: left top;
    transition: all 1s;
    
}
ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    height: 2px;
    background: white;
    transform: scale(0,0);
    transform-origin: left bottom;
    transition: all 1s;
    
}
ul li a:hover::before,
ul li a:hover::after{
    transform: scale(1,1);
}