*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-family: sans-serif;
    height: 100vh;
}
p{
    font-size: 3.5rem;
}
.js{
    color: yellow;
}
.typed-text{
    color: #20c20e;
}
.cursor{
    background: #20c20e;
}